@mixin btn-specs($btn-color: $color-secondary, $text-color: $color-accent) {
    background-color: $btn-color;
    @include font($font-extrabold, $text-color);
}

@mixin btn-active() {
    @include btn-specs($color-accent, $color-primary);
}

@mixin btn-mobile {
    height: $button-height;
    margin-bottom: $button-margin-bottom;
}

@mixin btn-standard() {
    font-family: Nunito, sans-serif;
    font-size: 1.75rem;
    font-weight: $font-extrabold;
    letter-spacing: 0.02rem;
    display: block;
    width: 100%;
    max-width: 350px;
    height: $button-height-desktop;
    line-height: 64px;
    vertical-align: middle;
    margin: 4px auto $button-margin-bottom-desktop auto;
    transition: 0.1s;
    border: 0;
    border-radius: $border-radius-standard;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

.btn {
    @include btn-standard;
    &:hover, &:active {
        @include btn-active;
    }

    &.red {
        @include btn-specs($color-red !important, $color-text-primary);
    }

    &.green {
        @include btn-specs($color-green !important, $color-text-primary);
    }

    &[disabled] {
        @include btn-specs($transparent !important, $color-text-secondary);
    }
    &.transit {
        transition: 0.3s;
    }
    span {
        height: $button-height;
        line-height: $button-height;
        vertical-align: middle;
    }

    &:not(.btn-small):not(.btn-xsmall) {
        @include screen-size(mobile) {
            @include btn-mobile;
        }
    }

}

.btn-primary {
    @include btn-specs;
}

.btn-outlined {
    @include btn-specs($transparent, $color-accent);
    border: 1px solid $color-secondary;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.btn-text-smaller {
    font-size: 1.125rem;
    line-height: 4rem;
}

.btn-small {
    height: 64px;
    &.n-width {
        min-width: 64px;
        width: unset;
    }
}

.btn-xsmall {
    height: 48px;
    line-height: 48px;
    width: unset;
    min-width: 48px;
}

.notice-panel .btn {
    margin: 5px 5px 5px 10px;
}
