.bo-playerlist {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    top: 100%;
    height: calc(80% - 10px);
    width: 100%;
    background-color: $color-primary;
    padding-top: 10px;
    overflow: hidden auto;
    &.show {
        animation: slideup 0.5s ease-out forwards;
    }
    .btn {
        margin: 5px 10px !important;
    }
    span {
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        img {
            max-width: 16px;
            max-height: 16px;
        }
    }
}

@keyframes slideup {
    0% {
        top: 100%;
    }

    100% {
        top: 20%;
    }
}

.bo-player-status-bar {
    position: absolute;
    height: 35px;
    width: 100%;
    background-color: #000;
    display: flex;
    & > div {
        width: calc(50% - 25px);
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        .text {
            font-family: 'Nunito', sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        img {
            max-width: 16px;
            margin-right: 5px;
        }
    }
    .bo-player-status-bar--user {
        padding: 0px 20px 0px 5px;
    }
    .bo-player-status-bar--drinks {
        padding: 0px 5px 0px 20px;
    }
}

@include screen-size(mobile) {
    .jumbotron, #_question {
        margin-top: 20px;
    }
}
