

// -----------------------------------
// Home - Title splash screen settings
// -----------------------------------

.bologo-img {
    display: block;
    max-height: 250px;
    max-width: 100%;
    margin: 0 auto;
}

.options-panel {
    width: 50%;
    margin: 0 auto;
    border: 1px solid $color-secondary;
    border-radius: $border-radius-standard;

    .options-text {
        position: absolute;
        display: inline-block;
        padding: 5px;
        transform: translateX(40px);
    }

    .options-content {
        position: relative;
        text-align: center;
        padding: 40px 0;
    }
}

// ------------------------
// BuzzOnline Player Drawer
// ------------------------

.bo-player-drawer {
    background-color: $player-drawer-color;
    height: $player-drawer-height;
    overflow: hidden;

    // Player chips
    .chip {
        display: inline-block;
        height: calc(#{$player-drawer-height} - (2*#{$player-drawer-chip-margin}));
        margin: $player-drawer-chip-margin;
        border-radius: $border-radius-standard;
        background-color: $color-primary;
        overflow: hidden;
        transition-duration: 0.3s;
        
        .bo-playertag-profile {
            display: inline-block;
            max-height: 100%;
            max-width: $player-image-width;
            position: absolute;
            z-index: 0;
        }

        .collection-content {
            display: inline-block;
            overflow: hidden;
            color: $color-text-primary;
            height: 100%;
            width: calc(#{$player-drawer-width} - #{$player-image-width});
            margin-left: $player-image-width + 6px;
            height: ($player-drawer-height - ($player-drawer-chip-margin * 2) );

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                height: ($player-drawer-height - ($player-drawer-chip-margin * 2) ) / 2;
                line-height: 34px;
                vertical-align: middle;
            }

            .collection-addon {
                height: ($player-drawer-height - ($player-drawer-chip-margin * 2) ) / 2;
            
                img {
                    height: $player-drink-icon-height;
                    line-height: $player-drink-icon-height;
                    vertical-align: middle;
                }
            
                span {
                    overflow: unset;
                    display: inline-block;
                }
            }
        }

        &.active {
            background-color: $color-green;
        }
    }
}

// --------------------------
// Client Card Drawer
// --------------------------

.bo-client-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    height: $player-card-drawer-height;
    min-height: 0;
    margin: 0;
    background-color: $color-secondary;
    bottom: 0;
    white-space: nowrap;
    overflow: auto hidden;
    -webkit-overflow-scrolling: touch;
    .card {
        height: 100%;
        margin-right: 2px;
        display: flex;
        align-items: center;
        img {
            max-height: 100%;
            margin: auto;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
        }
    }
    .hidden {
        height: 0;
    }
}


// --------------------------
// Client Container
// --------------------------
.bo-client-container {
    .card:not(.master-playing-card) {
        max-width: 50%;
        max-height: 50%;
        display: inline-flex;
        img {
            display: block;
            margin: 0 auto;
            max-width: 90%;
        }
    }
}


// --------------------------
//     Questionnaire screen
// --------------------------
.row,
.master-playing-card,
.card-content {
    height: 100%;
}


.master-playing-card {
    .card-content {
        img {
            display: block;
            max-height: 100%;
            margin: 20px auto;
        }
    }
}

.panel {
    display: flex;
    width: calc(100% - 40px);
    border-radius: $border-radius-standard;
    max-height: 30%;
    min-height: 20%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.card-panel {
    height: 70%;
}

.drink-animation {
    animation: drink-animation 1s forwards ease-in-out;
}

@keyframes drink-animation {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: translateY(-5px) rotate(-120deg);
    }
    60% {
        transform: translateY(-8px) rotate(-120deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.bo-client-container,
.bo-client-cards {
    transition-duration: .5s;
}

.fadeout {
    animation: fadeout .2s forwards;
}

.fadeout {
    animation: fadein .2s forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// --------------------------
//     Notice panel
// --------------------------
.notice-container {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    @include screen-size(mobile) {
        align-items: center;
        bottom: 64px;
    }
    flex-direction: column;
    pointer-events: none;
    .notice-panel {
        min-width: 20%;
        max-width: 50%;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: $border-radius-standard;
        padding: 20px;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
        @include screen-size(mobile) {
            max-width: 95%;
            padding: 0 0 0 10px;
            background-color: rgba(255, 255, 255, 0.95);
            box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.1);
            min-height: 48px;
        }
        transition-duration: 1s;
        display: flex;
        align-items: center;
        flex-direction: row;
        z-index: 2;
        animation: fadein 0.3s forwards ease-in-out;
        span {
            @include font($font-bold, $color-text-inverted);
            font-family: 'Nunito', sans-serif;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            font-size: 1.2rem;
            @include screen-size(mobile) {
                font-size: 1.2rem;
                margin-right: 10px;
            }
            text-align: center;
            letter-spacing: .03rem;
            strong {
                @include font($font-extrabold, $color-text-inverted);
            }
            img {
                max-width: 16px;
                max-height: 16px;
            }
            .btn {
                display: inline;
                box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.2);
                pointer-events: auto;
            }
        }
        &.fadeout {
            animation: fadeout 0.3s forwards ease-in-out;
        }
    }
}
