.showdown {
    width: 100%;
    height: 100%;
    .showdown-component-title {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .showdown-component-players {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        .showdown-component-player {
            flex: 1 0 18%;
            min-width: 18%;
            max-width: 30%;
            height: 50%;
            background-color: $color-primary;
            transition-duration: 300ms;
            &.green {
                background-color: $color-green !important;
            }
            border-radius: $border-radius-standard;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            margin-bottom: 10px;
            &:not(:first-child) {
                margin-left: 10px;
            }
            .showdown-component-player--card {
                height: 75%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .showdown-component-player--card__image {
                    max-height: 100%;
                }
            }
            .showdown-component-player--info {
                height: 16%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .showdown-component-player--avatar__image {
                    height: 48px;
                    width: 48px;
                    max-width: unset;
                    margin: 0px 10px;
                }
                .showdown-component-player--nickname {
                    font-family: 'Nunito', sans-serif;
                    font-size: 1.2rem;
                    font-weight: 600;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                }
            }
        }
    }
}
