.card-table {
    height: 100%;
    display: flex;
    .card-table-row {
        display: inline-grid;
        width: 20%;
        height: 100%;
        
        div {
            @include flex-center;
            img {
                max-height: 17vh;
                transform: rotate(-90deg);
                transition-duration: 0.5s;
                z-index: 1;
                &.card--active {
                    max-height: 30vh;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}
