.card-table {
    height: 100%;
    display: flex;
    .card-table-row {
        display: inline-grid;
        width: 20%;
        height: 100%;
        
        div {
            @include flex-center;
            img {
                max-height: 17vh;
                transform: rotate(-90deg);
            }
        }
    }
}
